<div class="container">
  <div class="row">
    	<div class="col-md-12">
        <div class="page-header">
          <% provide(:title, @user.name) %>
          <h1 class="profile-pic">
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
        </div>
    <br>
    <h1>Recent Posts</h1>
  	 <% @posts.each do |post| %>
    <ul class="profile-posts">
      <li><%=link_to post.title, post_path(post) %> - Posted <%= time_ago_in_words(post.created_at) %> Ago</li>
    </ul>
    <% end %>
    <%= will_paginate @posts %>
    <br>
    <div class="buttons">
      <% if logged_in? %>
        <button class="button"><%= link_to 'New Post', new_post_path %></button>
        <button class="button">Log Out</button>
        <% end %>
      </div>
    </div>
  </div>
</div>