<%= render 'shared/header' %>
<div class="container">
	<div id="post-show" class="row">
		<h1 class="title">
		  <%= @post.title %>
		</h1>

		<p class="date">
		  Submitted <%= time_ago_in_words(@post.created_at) %> Ago
		  <% if logged_in? && current_user.admin? %>
		    <%= link_to 'Edit Post', edit_post_path(@post) %>
		    <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
		    <% end %>
		</p>


		<p class="body">
			<%= simple_format(@post.body) %>
		</p>

		<div id="comments">
      <h2><%@post.comments.count %> Comments</h2>
      <%= render @post.comments %>
      <h3>Add a Comment:</h3>
      <% if logged_in? %>
      <%= render 'comments/form' %>
      <% else %>
      <p><%= link_to 'Log in to make a comment', login_path %></p>
      <% end %>
		</div>
	</div>
</div>
<div class="divider"></div>
 <%= render 'shared/footer' %>