<!DOCTYPE html>
<html>
<head>
  <title>Not Quite Love</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <%= csrf_meta_tags %>
</head>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<body>


<%= yield %>
</div>

</body>
</html>


